.hero-section{
    .desktop-img{
        display:none;
        width:100%;
    }
    .mobile-img{
        display:block;
        width:100%;
        height:auto;
        margin-top:-.4rem;
    }
    
    .coming-soon{
        margin-top:3.6rem;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background:linear-gradient(hsl(0, 0%, 100%),hsl(0, 100%, 98%));
        
        h1{
            font-size: 3.5rem;
            letter-spacing: 10px;
            text-transform: uppercase;
            max-width: 280px;
            line-height: 55px;
            font-weight: 600;
            margin-bottom:1.3rem;
            text-align: center;
            span{
                color:hsl(0, 36%, 70%);
                font-weight: 300;
                font-size: 3rem;
            }
        }
        p{
            max-width:360px;
            font-size:1.2rem;
            margin-bottom: 2.3rem;
            color:hsl(0, 36%, 70%);
            line-height:25px;
            font-weight: 300;
            text-align: center;
            
        }
        .input-wrapper{
            display: flex;
            width: 83%;
            position: relative;
            margin-bottom:1rem;
            input{
                padding:.9rem;
                border-radius:25px;
                border:1px solid  hsl(0, 36%, 70%);
                width:100%;
                outline:none;
                &::placeholder{
                    font-size:1rem;
                    color: hsl(0, 36%, 70%);
                    font-weight: 400;
                }
            }
            button{
                position:absolute;
                height: 100%;
                padding:0 2rem;
                right:-1rem;
                border-radius:25px;
                border:none;
                background:linear-gradient(135deg, hsl(0, 80%, 86%),hsl(0, 74%, 74%));
                transition:.3s ease;
                &:hover{
                    opacity:.9;
                    cursor: pointer;
                    box-shadow: 0px 2px 20px 0px hsl(0, 36%, 70%);
                }
            }
            
        }
    }
    
}

@media screen and (min-width:760px) {
    .main{
        .logo{
            margin-left:4.5rem;
            width:150px;
            margin-top:3rem;
        }
    }
    .hero-section{
        .desktop-img{
            display:block;
            width:47%;
            height: 100vh;
            position:fixed;
            top:0;
            right:0;
            padding-left: 2rem;
        }
        .mobile-img{
            display:none;
        }
        
        .container{
            margin-left:4.5rem;
            padding-right: 3rem;
            .coming-soon{
                margin-top:6rem;
                align-items: flex-start;
                text-align: left;
                background:linear-gradient(hsl(0, 0%, 100%),hsl(0, 100%, 98%));
                
                
                h1{
                    font-size: 4rem;
                    letter-spacing: 10px;
                    line-height: 65px;
                    font-weight: 600;
                    text-align: left;
                    span{
                        font-weight:300;
                        text-align: center;
                        font-size:3rem;
                    }
                    
                }
                p{
                    max-width:375px;
                    font-size:1.2rem;
                    text-align: left;
                }
                .input-wrapper{
                    width: 35%;
                    position: relative;
                    input{
                        padding:1rem;
                        border-radius:25px;
                        border:1px solid  hsl(0, 36%, 70%);
                        width:100%;
                        &::placeholder{
                            font-size:1rem;
                        }
                    }
                    button{
                        position:absolute;
                        top:0;
                        right:-1rem;
                        padding:0 2rem;
                        height: 100%;
                        
                    }
                    
                }
            }
            
        }
        
    }
}